<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HDExportMetadataAndFile.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <userSettings>
    <HDExportMetadataAndFile.AppSettings>
      <setting name="ConnectionStr" serializeAs="String">
        <value>Server=172.16.92.111;uid=sa;pwd=Vctv123456!DB;database=HDStation2VCTV;MultiSubnetFailover=True;ConnectRetryCount=3;ConnectRetryInterval=15;</value>
      </setting>
    </HDExportMetadataAndFile.AppSettings>
  </userSettings>
  <connectionStrings><add name="HDStation2Entities" connectionString="metadata=res://*/DAO.INFORTAPE_FILE.csdl|res://*/DAO.INFORTAPE_FILE.ssdl|res://*/DAO.INFORTAPE_FILE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THANH-PC;initial catalog=HDStation2;persist security info=True;user id=sa;password=Hd123456!DB;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/><add name="HDStation2Entities1" connectionString="metadata=res://*/DAO.Model1.csdl|res://*/DAO.Model1.ssdl|res://*/DAO.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THANH-PC;initial catalog=HDStation2;persist security info=True;user id=sa;password=Hd123456!DB;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>
