<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HDValidator.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <HDValidator.AppSettings>
            <setting name="FileFilter" serializeAs="String">
                <value>*.mxf;*.mp4</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Server=10.10.10.101;uid=sa;pwd=Hd123456!DB;database=HDStation2</value>
            </setting>
        </HDValidator.AppSettings>
    </userSettings>
</configuration>
